:host{
  margin-left: 50px;
}

.example-pizza-party {
    color: hotpink;
    background:green;
    display:flex;
    justify-content:center;
  }
  /* You can add global styles to this file, and also import other style files */
  .mat-card{
    margin-top: 100px;
  }

  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  