body {
    background-color: lightblue;
  }
  
  h1 {
    color: red;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    color: green;
  }
  .baseForm{
    margin: 0 auto;
      text-align: center;
      height: 500px;
      width: 500px;
      background-color: antiquewhite;
      justify-self: center;
  }